<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('homepage') }}">Symfony4</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}"><i class="fas fa-home"></i>Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads_index') }}"><i class="fas fa-fire"></i>Annonces</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_logout') }}"><i class="fas fa-sign-out-alt"></i>Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}"><i class="fas fa-user-plus"></i>Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}"><i class="fas fa-sign-in-alt"></i>Connexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="main container">
        <div class="alert alert-{{ label }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <i class="fas fa-info-circle"></i>
            {% for message in messages %}
                <span>{{ message | raw }}</span>
            {% endfor %}
        </div>
    </div>
{% endfor %}