{% extends 'base.html.twig' %}

{% block title %}Votre réservation (n°{{ booking.id }}){% endblock %}

{% block body %}
    {% set ad = booking.ad %}
    {% set author = ad.author %}

    {% if app.request.query.get('success') %}
        <div class="container mt-5">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <i class="fas fa-info-circle"></i>
                        <h4 class="alert-heading">Bravo !</h4>
                        <div>
                            Votre réservation auprès de
                            <a href="{{ path('user_show', {'slug': author.slug}) }}"><strong>{{ author.fullName }}</strong></a>
                            pour l'annonce
                            <a href="{{ path('ads_show', {'slug': ad.slug}) }}"><strong>{{ ad.title }}</strong></a>
                            a bien été prise en compte.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card p-3">
                    <h1 class="card-header">Votre réservation n°{{ booking.id }}</h1>
                    <div class="card-body">
                        <div class="alert alert-info alert-dismissible mb-4">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <i class="fas fa-info-circle"></i>
                            Consulter les détails de votre réservation
                        </div>
                        <dl class="row">
                            <dt class="col-md-4">Numéro</dt>
                            <dd class="col-md-8">{{ booking.id }}</dd>
                            <dt class="col-md-4">Date d'arrivée</dt>
                            <dd class="col-md-8">{{ booking.startDate | date('d/m/Y') }}</dd>
                            <dt class="col-md-4">Date de départ</dt>
                            <dd class="col-md-8">{{ booking.endDate | date('d/m/Y') }}</dd>
                            <dt class="col-md-4">Nombre de nuits</dt>
                            <dd class="col-md-8">{{ booking.duration }}</dd>
                            <dt class="col-md-4">Montant total</dt>
                            <dd class="col-md-8">{{ booking.amount | number_format(2, ',', ' ') }} &euro;</dd>
                            <dt class="col-md-4">Commentaire</dt>
                            <dd class="col-md-8">{{ booking.comment | default('Aucun commentaire') }}</dd>
                        </dl>
                    </div>
                </div>
                <hr class="bg-light mt-3">
                <div class="card p-3">
                    <h1 class="card-header">Votre hébergement</h1>
                    <div class="card-body">
                        <div class="alert alert-info alert-dismissible mb-4">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <i class="fas fa-info-circle"></i>
                            Consulter les détails de votre hébergement
                        </div>
                        <a href="{{ path('ads_show', {'slug': ad.slug}) }}" class="text-info"><h4>{{ ad.title }}</h4></a>
                        <img src="{{ ad.coverImage }}" alt="Image de {{ ad.title }}" class="img-fluid mb-4">
                        {{ ad.content | raw }}
                        <a href="{{ path('ads_show', {'slug': ad.slug}) }}" class="btn btn-info text-decoration-none">Plus d'informations</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <h1 class="card-header">Votre hôte</h1>
                    <div class="card-body px-0">
                        <div class="card border-info p-3">
                            <div class="card-header d-flex flex-column align-items-center">
                                <img src="{{ author.picture }}" class="rounded-circle" width="100px" alt="Avatar de {{ author.fullName }}">
                                <div class="my-3 text-center">
                                    <h2 class="my-0">{{ author.fullName }}</h2>
                                    <div class="text-muted">{{ author.email }}</div>
                                </div>
                                <div class="badge badge-info mx-auto">{{ author.ads |length }} annonces</div>
                            </div>
                            <div class="card-body">
                                {{ author.description | raw }}
                                <a href="{{ path('user_show', {'slug': author.slug}) }}" class="btn btn-info text-decoration-none">
                                    Plus d'infos sur {{ author.firstName }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="bg-light mt-3">
                <div class="card border-info p-3" id="comment">
                    <h1 class="card-header">Votre avis</h1>
                    <div class="card-body">
                        <div class="alert alert-info alert-dismissible mb-4 px-3">
                            <button type="button" class="close pl-0" data-dismiss="alert">&times;</button>
                            <i class="fas fa-info-circle"></i>
                            Consulter votre commentaire
                        </div>
                        {% if date() > date(booking.endDate) %}
                            {% set comment = booking.ad.commentFromAuthor(app.user) %}
                            {% if comment is not null %}
                                <strong>Note : </strong>
                                {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                                <blockquote class="mt-3">
                                    {{ comment.content }}
                                </blockquote>
                            {% else %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-info">Envoyer</button>
                                {{ form_end(form) }}
                            {% endif %}
                        {% else %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <i class="fas fa-info-circle"></i>
                                <h4 class="alert-heading">Désolé !</h4>
                                <div>Vous ne pouvez pas noter cette annonce tant que votre voyage n'est pas terminé.</div>
                            </div>
                            <p>Vous ne pouvez pas noter cette annonce tant que votre voyage n'est pas terminé</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

