{% extends "base.html.twig" %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur Symfony4</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leurs biens à la location.</p>
            <hr class="bg-light my-4">
            <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
            <p class="lead">
                <a class="btn btn-info btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card p-3">
                    <h1 class="card-header">Nos appartements stars !</h1>
                    <div class="card-body">
                        <div class="row">
                            {% for ad in ads %}
                                {% include 'ad/_ad.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-light my-4">
        <div class="row">
            <div class="col-12">
                <div class="card p-3">
                    <h1 class="card-header">Nos propriétaires stars !</h1>
                    <div class="card-body">
                        <div class="row">
                            {% for user in users  %}
                                <div class="col-md-6">
                                    <div class="card border-info p-3 mb-3">
                                        <div class="card-header d-flex flex-column flex-lg-row align-items-center">
                                            <img src="{{ user.picture }}" class="rounded-circle mr-lg-3" width="100px" alt="Avatar de {{ user.fullName }}">
                                            <div class="my-3 my-lg-0 text-center text-lg-left">
                                                <h3 class="my-0">{{ user.fullName }}</h3>
                                                <p class="text-muted mb-0">{{ user.email }}</p>
                                                {% if user is same as (app.user) %}
                                                    <a href="{{ path('account_profile') }}" class="card-link text-info d-block d-lg-inline-block mb-2 mb-lg-0 mx-auto mr-lg-3 mt-3">Modifier mon profil</a>
                                                    <a href="{{ path('account_password') }}" class="card-link text-info d-block d-lg-inline-block mx-auto ml-lg-auto">Modifier mon mot de passe</a>
                                                {% endif %}
                                            </div>
                                            <div class="badge badge-info mx-auto mx-lg-0 ml-lg-auto">{{ user.ads |length }} annonces</div>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">{{ user.description | raw }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
