{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card p-3">
                    <h1 class="card-header">Tableau de bord</h1>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-lg-3">
                                <div class="card bg-info mb-3">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-4">
                                                <i class="fas fa-hotel fa-3x"></i>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title mb-0"><strong>{{ stats.ads }}</strong> annonces</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card bg-success mb-3">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-4">
                                                <i class="fas fa-folder fa-3x"></i>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title mb-0"><strong>{{ stats.bookings }}</strong> réservations</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card bg-warning mb-3">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-4">
                                                <i class="fas fa-comments fa-3x"></i>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title mb-0"><strong>{{ stats.comments }}</strong> commentaires</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="card bg-danger mb-3">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-4">
                                                <i class="fas fa-users fa-3x"></i>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title mb-0"><strong>{{ stats.users }}</strong> utilisateurs</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="card border-success p-3">
                                    <h5 class="card-header bg-success"><i class="fas fa-arrow-up mr-1"></i>Les annonces populaires</h5>
                                    <div class="card-body">
                                        <table class="table table-hover table-responsive-sm table-secondary">
                                            <thead class="bg-info">
                                            <tr>
                                                <th>Annonce</th>
                                                <th>Auteur</th>
                                                <th class="text-center">Note</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ad in bestAds %}
                                                <tr>
                                                    <td>{{ ad.title }}</td>
                                                    <td>
                                                        <img src="{{ ad.picture }}" alt="Avatar de {{ ad.firstName }} {{ ad.lastName }}" width="35px" class="rounded-circle mr-1">
                                                        {{ ad.firstName }} {{ ad.lastName }}
                                                    </td>

                                                    <td class="text-center">
                                                        <span class="badge badge-warning rounded p-2">{{ ad.note | number_format(1, ',', ' ') }}</span>
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('admin_ads_edit', {'id': ad.id}) }}" class="btn btn-info mr-1"><i class="fas fa-edit mx-0"></i></a>
                                                        <a href="{{ path('admin_ads_delete', {'id': ad.id}) }}" class="btn btn-danger mt-1"><i class="fas fa-trash mx-0"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card border-danger p-3">
                                    <h5 class="card-header bg-danger"><i class="fas fa-arrow-down mr-1"></i>Les pires annonces</h5>
                                    <div class="card-body">
                                        <table class="table table-hover table-responsive-sm table-secondary">
                                            <thead class="bg-info">
                                            <tr>
                                                <th>Annonce</th>
                                                <th>Auteur</th>
                                                <th class="text-center">Note</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ad in worstAds %}
                                                <tr>
                                                    <td>{{ ad.title }}</td>
                                                    <td>
                                                        <img src="{{ ad.picture }}" alt="Avatar de {{ ad.firstName }} {{ ad.lastName }}" width="35px" class="rounded-circle mr-1">
                                                        {{ ad.firstName }} {{ ad.lastName }}
                                                    </td>

                                                    <td class="text-center">
                                                        <span class="badge badge-warning rounded p-2">{{ ad.note | number_format(1, ',', ' ') }}</span>
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('admin_ads_edit', {'id': ad.id}) }}" class="btn btn-info mr-1"><i class="fas fa-edit mx-0"></i></a>
                                                        <a href="{{ path('admin_ads_delete', {'id': ad.id}) }}" class="btn btn-danger mt-1"><i class="fas fa-trash mx-0"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
