{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-6 col-lg-4">
    <div class="card border-info mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres, <strong>{{ ad.price | number_format(2, ',', ' ') }} &euro; / nuit</strong>
            <br>
            {% if ad.comments|length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="{{ ad.title }}" class="img-fluid">
        </a>
        <div class="card-body bg-secondary p-0">
            <div class="p-3">
                <a href="{{ url }}" class="text-info">
                    <h4 class="card-title">{{ ad.title }}</h4>
                </a>
                <p class="card-text">{{ ad.introduction }}</p>
                <a href="{{ url }}" class="btn btn-info mb-3">En savoir plus</a>
                <div class="float-right mb-3 ml-1">
                    <a href="{{ path('ads_like', {'id': ad.id}) }}" class="js-link">
                        {% if app.user and ad.isLikedByUser(app.user) %}
                            <div class="btn btn-danger">
                                <i class="fas fa-thumbs-down m-0 mr-1"></i>
                                <span class="js-label">Je n'aime plus</span>
                                <span class="js-likes"> ({{ ad.likes | length }})</span>
                            </div>
                        {% else %}
                            <div class="btn btn-success">
                                <i class="fas fa-thumbs-up m-0 mr-1"></i>
                                <span class="js-label">J'aime</span>
                                <span class="js-likes"> ({{ ad.likes | length }})</span>
                            </div>
                        {% endif %}
                    </a>
                </div>
                {% if app.user and app.user == ad.author %}
                    <div class="float-right mb-3">
                        <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-info mr-1"><i class="fas fa-edit m-0"></i></a>
                        <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger"
                           onclick="return confirm(`Etes-vous sûr de vouloir supprimer l'annonce : {{ ad.title }} ?`)"><i class="fas fa-trash m-0"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
