{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}
    <div class="adtitle" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2"><strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price | number_format(2, ',', ' ') }} &euro;</strong> par nuit</p>
            <a href="{{ path('booking_create', {'slug': ad.slug}) }}" class="btn btn-info mr-3 my-3">Réserver</a>
            {% if app.user and app.user == ad.author %}
                <div class="my-3 float-md-right">
                    <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-info mr-3">Modifier</a>
                    <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger"
                       onclick="return confirm(`Etes-vous sûr de vouloir supprimer l'annonce : {{ ad.title }} ?`)">Supprimer</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mb-5">
                <div class="card">
                    <div class="card-body">
                        {{ ad.content|raw }}
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for image in ad.images %}
                                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for image in ad.images %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        <img src="{{ image.url }}" class="d-block" alt="{{ image.caption }}">
                                        <div class="carousel-caption d-none d-md-block w-100 p-2">
                                            <h5>{{ ad.title }}</h5>
                                            <p>{{ image.caption }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="bg-light my-4">
                <div class="card border-info p-3">
                    <h5 class="card-header">Les commentaires de nos voyageurs</h5>
                    <div class="card-body">
                        {% if ad.comments|length > 0 %}
                            <div class="alert alert-info">
                                <h4 class="alert-heading text-center">
                                    <div class="row align-items-center">
                                        <div class="col">Note globale donnée par nos voyageurs</div>
                                        <div class="col">
                                            {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
                                            <br>
                                            <small>(Calculée sur {{ ad.comments|length }} avis)</small>
                                        </div>
                                    </div>
                                </h4>
                            </div>
                            {% for comment in ad.comments %}
                                <div class="bg-secondary rounded mb-3 p-3">
                                    <strong>{{ comment.author.firstName }}</strong> a dit :
                                    <blockquote>{{ comment.content }}</blockquote>
                                    <strong>Note donnée : </strong>
                                    {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-warning mb-0">
                                <i class="fas fa-info-circle"></i>
                                <span>Cette annonce n'a pas encore reçu de commentaires.</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% set a = ad.author %}
                <div class="row">
                    <div class="col-12">
                        <div class="card border-info p-3">
                            <div class="card-header d-flex flex-column align-items-center">
                                <img src="{{ a.picture }}" class="rounded-circle" width="100px" alt="Avatar de {{ a.fullName }}">
                                <div class="my-3 text-center">
                                    <h3 class="my-0">{{ a.fullName }}</h3>
                                    <div class="text-muted">{{ a.email }}</div>
                                </div>
                                <div class="badge badge-info mx-auto">{{ a.ads |length }} annonces</div>
                            </div>
                            <div class="card-body">
                                <div class="card-text">{{ a.description | raw }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}